.backwrap {
  background: linear-gradient(to bottom, #361042, #631D79);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Shapes & Animation
*/
.back-shapes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.back-shapes img {
  opacity: 0.2;
  position: absolute;
  width: 1.5%;
}

.floating {
  position: absolute;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.floating.circle {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-image: url("https://em-content.zobj.net/source/skype/289/skull-and-crossbones_2620-fe0f.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}
.floating.square {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("https://em-content.zobj.net/thumbs/120/twitter/348/skull_1f480.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}
.floating.triangle {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("https://em-content.zobj.net/thumbs/120/twitter/351/ghost_1f47b.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.1;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-55deg);
  }
  50% {
    transform: translateY(300%) rotate(55deg);
  }
  100% {
    transform: translateY(0%) rotate(-55deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(300%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
